africastalking==1.2.3
certifi==2020.12.5
chardet==4.0.0
contextlib2==0.6.0.post1
greenlet==1.0.0
idna==2.10
phonenumbers==8.12.20
psycopg2==2.8.6
python-dotenv==0.17.0
requests==2.25.1
schema==0.7.4
six==1.15.0
SQLAlchemy==1.4.5
SQLAlchemy-Utils==0.36.8
urllib3==1.26.4
